.preloader-bg {
  position: fixed;
  inset: 0;
  background: linear-gradient(120deg, #19197080 0%, #43937D 80%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-logo {
  width: 150px;
  height: 150px;
  /* border-radius: 10%; */
  animation: logoWave 1.4s ease-in-out infinite alternate,
             logoGlow 1.2s ease-in-out infinite alternate;
}

@keyframes logoWave {
  0% { transform: scale(1) translateY(0); }
  50% { transform: scale(1.09) translateY(-18px); }
  100% { transform: scale(1) translateY(0); }
}
/* @keyframes logoGlow {
  0% { box-shadow: 0 0 18px #1affff80, 0 0 55px #06b6d4aa; }
  100% { box-shadow: 0 0 42px #c8f5ff, 0 0 96px #00eaff; }
} */
